* {
    margin: 0;
    padding: 0;
}

p {
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
}
header {
    min-height: 100vh;
    width: 100%;
    background-image: url("images/trianglify.png");
    background-size: cover;
    background-attachment: fixed;
}

.home-section {
    padding-top: 40vh;
    text-align: center;
    font-size: 1.5em;
    word-wrap: break-word;
}

@media (max-width: 700px) {
    .home-section {
        text-align: center;
    }

.about-section .portfolio-section {
    width: 50%;
    font-size: 100em;
}

footer {
    min-height: 100vh;
}
