p {
    font-family: "Courier New", Courier, monospace;
}
header {
    min-height: 100vh;
    background-image: url("trianglify.png");
    background-size: auto;
}

.home-section {
    width: 90%;
    margin-left: 30px;
    padding-top: 40vh;
    text-align: center;
    font-size: 1.5em;
    word-wrap: break-word;
}

@media (max-width: 700px) {
    .home-section {
        width: 55%;
        margin-left: 30px;
    }

footer {
    height: 100vh;
}
