.wrapper {
    background-color: #fff;
    color: #444;
    width: 100%;
}

nav {
    background: rebeccapurple;
    height: 45px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-content: center;
}
@media (max-width: 900px) {
    nav {
        display: none;
    }
}
.navbar__list {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    width: 922px;
    font-size: 26px;
    letter-spacing: .1em;
    font-weight: bold;
}

body {
    margin: 0;
}

.intro__section {
    display: grid;
    place-content: center;
    height: 100vh;
    line-height: 0.1em;
    text-align: center;
}
.intro__section h1 {
    font-size: 46px;
}
.intro__section h2 {
    font-size: 33px;
}

.section {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 4fr 6fr;
    width: 100%;
    height: 100vh;
}
@media (max-width:920px) {
    .section {
        grid-template-areas:"left left" "right right";
        height: max-content;
    }
    .section__left, .section__right {
        padding: 0 2em;
        height: 50vh;
    }
}

.section h2 {
    text-decoration: underline;
}

.section__left, .section__right {
    display: grid;
    padding: 0 4em;
    height: fit-content;
}

.section__left {
    grid-area: left;
    align-content: center;
}

.section__right {
    grid-area: right;
    place-content: center;
    background-color: #844b83;
    color: white;
}

.project__picker {
    cursor: pointer;
    padding: 10px;
}

#software__list {
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "languages frameworks" "devtools concepts";
    grid-gap: 20px 100px;
}

#software__list h4 {
    text-transform: uppercase;
}

ul {
    list-style: none;
    margin: -10px 0 0 0;
    padding: 0;
}

p {
    margin-top: -10px;
}